/*----------Logo-----Menu-----*/
.logo-menu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background: $white9;
	.logo{
		padding: 15px 0;

	 img{
		max-width: 150px;
	 }
	 .slogon{
	 	margin: 0;
	 	padding: 0;
	 	font-size: 11px;
	 	color: #666;
	 }
	}

	.main-menu{

		.navbar{
			margin: 0;
			padding: 0;
			border:none;
			background: none;
		}
		.navbar-default .navbar-nav > li > a{
			text-align: center;
		}
		.navbar-nav > li > a{
			padding:20.5px;
			font-size: 14px;
			text-transform: uppercase;
			&:hover{
				color:$theme;
			}
		}
		.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
			background: $theme;
			color: #fff;
		}
		.nav > li{
			padding: 0 15px;
		}
		.dropdown-menu > li > a{
			padding: 10px 20px;
			border-bottom: 1px solid #f0f0f0;
		}
		.dropdown-menu > li:last-child a{
			border-bottom: none;
		}
		.dropdown-menu{
			border:1px solid #f0f0f0;
			border-top: 4px solid $theme;
			margin: 0;
			padding: 0;
			border-radius: 4px 4px 0 0;
		}
		.dropdown-menu:before{
			font-family: FontAwesome;
		    display: inline-block;
		    padding-right: 3px;
		    vertical-align: middle;
		    content: "";
		    border-left: 10px solid transparent;
		    border-right: 10px solid transparent;
		    border-bottom: 10px solid $theme;
		    position: absolute;
		    top: -10px;
		    left: 50%;
		    margin-left: -10px;
		}
		.dropdown-menu .dropdown-menu:before{
			border-bottom: 10px solid transparent;
		}
		.dropdown-menu > li > a:hover{
			color: $theme;
		}
		.has-submenu{
			background: none;
			color: #666;
		}
		.has-submenu:hover{
			background: none !important;
		}
	}
}


/*--------Sticky------*/
.logo-menu.sticky-menu{
	background: #fff;
	border-bottom: 4px solid $theme;

	.navbar-default .navbar-nav > li > a{
		padding: 10px 20.5px;
	}
	.logo{
		padding: 4px 0;
	}
}
/*--------------Slider----------*/
.carousel-indicators li{
	width: 20px;
	height: 20px;
	border:none;
	background: $white5;
	margin: 0 5px;
}
.carousel-indicators .active{
	background: $theme;
	width: 20px;
	height: 20px;
}
.carousel-indicators{
	z-index: 9991;
}


/*---------Intro-----------*/
.intro{
	background: $theme;
	padding: $section-padding;

	.single{
		text-align: center;
		padding: 15px;
		margin: 30px 0;
		transition:all 0.4s ease-in-out;
		&:hover{
			background:$white1;
			box-shadow: 0 3px 0px $black1;
		}
		.block-title{
			text-transform: uppercase;
			font-size: 22px;
			font-weight: 300;
			color: #fff;
		}
		p{
			color: #fff;
			font-size: 14px;
			font-weight: 300;
			line-height: 22px;
		}
		.read-more{
			background: $white5;
			color: $theme;
			border-radius: 50%;
			&:hover{
				background:$white9;
			}
		}
	}
}

/*------------Services--------*/
.services{
	padding: $section-padding;

	.single{
		text-align: center;
		margin: 30px 0;

		.content{
			padding: 15px;
			background: #fcfcfc;
			border:1px solid #f0f0f0;
			margin-top: 3px;
			.block-title{
			font-size: 18px;
			text-transform: uppercase;
			color: #333;
		}
		p{
			font-size: 14px;
			line-height: 22px;
			color: #666;
		}
		.read-more{
			background: #fff;
			border:1px solid #f0f0f0;
			color: $theme;
			&:hover{
				background:$theme;
				color: #fff;
			}
		}
		}
	}
}


/*------------Testimonials------------*/
.testimonials{
	position: relative;
	padding: $section-padding;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;

	.section-title{
		h1{
			color: $theme;
		}
	}
	.feedback{
		max-width: 700px;
		margin:  0 auto;
		margin-top: 30px;
		text-align: center;

		p{
			color: #fff;
			line-height: 22px;
		}

	}
	.client-info{
		margin:0 auto;
		text-align: center;

		h3{
			color: $theme;
			font-size: 15px;
			text-transform: uppercase;
		}
		p{
			color: $theme;
			font-size: 13px;
		}
	}
	.owl-theme .owl-controls .owl-page span{
		width: 20px;
		height: 20px;
		background: $white5;
	}
	.owl-theme .owl-controls .owl-page.active span{
		background: $theme;
	}
}

/*------------Latest Post--------*/
.latest-post{
	padding: $section-padding;

	.single{
		text-align: center;
		margin: 30px 0;

		.content{
			padding: 15px;
			padding-top: 0;
			background: #fcfcfc;
			border:1px solid #f0f0f0;
			margin-top: 3px;

			.post-info{
				font-size: 13px;
				color: #999;
				padding: 5px 0;
			}
			.block-title{
			font-size: 18px;
			text-transform: uppercase;
			color: #333;
		}
		p{
			font-size: 14px;
			line-height: 22px;
			color: #666;
		}
		.read-more{
			background: $theme;
			border:1px solid $theme;
			color: #fff;
			&:hover{
				background:#fff;
				color: $theme;
			}
		}
		}
	}
}


/*----------Our Works---------------*/
.our-works{
	padding: $section-padding;
	padding-bottom: 0;

	.section-title{
		margin-bottom: 30px;
	}

	.single{
		padding: 0;
		overflow: hidden;
		text-align: center;
		position: relative;
		&:hover .on-hover{
			transform:translate(0px, 0px);
			visibility: visible;
		}

		.on-hover{
			position: absolute;
			background: $black5;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transform:translate(100px, 100px);
			visibility: hidden;
			transition:all 0.6s ease-in-out;
		}
		.underline{
			width: 50px;
			height: 2px;
			background: $theme;
			margin: 0 auto;
		}

		.read-more{
			background: $theme;
			color: #fff;
		}
		h3{
			color: #fff;
			text-transform: uppercase;
			font-size: 16px;
		}
		p{
			color: #fff;
			line-height: 22px;
		}
	}
}


/*------------Newsletter------------------*/
.newsletter{
	padding: $section-padding;
	background: $theme;
	padding-left: 30px;
	padding-right: 30px;

	.block{
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		h3{
			font-size: 20px;
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 30px;
		}
		.form-control{
			height: 50px;
			background: $white1;
			border:1px solid $white5;
		}
		.form-control::-webkit-input-placeholder{
				color: #fff;
		}
		.form-control::-moz-placeholder{
			color: #fff;
		}
		.btn{
			background: $black8;
			border-color: #000;
			color: #fff;
			text-transform: uppercase;
			padding: 13px 25px;
			font-size: 16px;
		}
	}
}


/*--------------Footer----------------*/
footer{
	background: #222;
	padding: 20px 0 0 0;
	.single{
		margin-top: 30px;
		p{
			color: #aaa;
		}
		.single-title{
			font-size: 16px;
			color: $theme;
			text-transform: uppercase;
		}
		li a{
			color: #aaa;
			display: block;
			text-decoration: none;
			line-height: 30px;
			&:hover{
				color:$theme;
			}
		}
		address{
			color: #aaa;
			a{
				color: #aaa;
				text-decoration: none;
			}
			i{
				color: $theme;
			}
		}
	}
	.single.about{
		img{
			max-width: 180px;
			margin-bottom: 15px;
		}
	}

.copyright{
	background: #111;
	padding: 15px 0;
	margin-top: 20px;
	p{
		margin: 0;
		color: #aaa;
		text-transform: uppercase;
		line-height: 36px;
	}
	.social-media{
		text-align: right;
		margin: 0;
		padding: 0;

		li{
			a{
				display: inline-block;
				width: 34px;
				height: 34px;
				line-height: 34px;
				text-align: center;
				color: $theme;
				background: $white1;
				&:hover{
					background:$theme;
					color: #fff;
				}
			}
		}
	}
}
}


/*--------------Inner Page------------*/
.page-header{
	padding: $section-padding;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	border-bottom: none;

	.block{
		text-align: center;

		.page-title{
			font-size: 30px;
			color: #fff;
			margin-top: 80px;
		}
		.underline{
			width: 50px;
			height: 2px;
			margin: 0 auto;
			background: $theme;
		}
		.bc{
			margin-top: 20px;
			li{
				a{
					display: inline-block;
					border:1px solid $white5;
					padding: 4px 8px;
					border-radius: 4px;
					color: $theme;
					text-decoration: none;
					&:hover{
						border-color: $theme;
					}
				}
				&:last-child a{
					color: #fff;
				}
				&:last-child a:hover{
					border-color: $white5;
				}
			}
		}
	}
}


/*---------------Blog Page----------------*/
.inner-content{
	padding-bottom: 40px;
  .single-post{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    border:1px solid transparent;
    transition:all 0.4s ease-in-out;
    &:hover{
    	border:1px solid #f0f0f0;
    }

    .post-title{
    	font-size: 20px;
    }
    .post-info{
    	color: #999;
    	text-transform: uppercase;
    }
    p{
    	color: #666;
    }
    .read-more{
    	color: $theme;
    }
    .tag-comment{
    	border-top: 1px solid #f0f0f0;
    	margin-top: 10px;
    	padding: 5px 0;
    	color: #999;
    }
}
}


/*--------------Sidebar-------------*/
aside.sidebar{
	padding: 10px 0;
	.single{
		margin-top: 30px;
		p{
			margin-top: 10px;
		}

		.search{
			.form-control{
				height: 40px;
				border-radius: 0;
			}
		.btn{
			background: $theme;
			color: #fff;
			border-color: $theme;
			padding: 9px 17px;
			border-radius: 0;
		}
		}

		.title{
			font-size: 20px;
			text-transform: uppercase;
			border-bottom: 1px solid #f0f0f0;
			padding-bottom: 4px;
			margin: 0;
		}
		.underline{
			width: 50px;
			height: 2px;
			margin-top: -1px;
			background: $theme;
		}
		ul{
			li{
				a{
					display: block;
					line-height: 30px;
					color: #666;
					text-decoration: none;
					&:hover{
						color:$theme;
					}
					&::before{
   				   font-family: FontAwesome;
				   display: inline-block;
				   padding-right: 3px;
				   vertical-align: middle;
					}
				}
			}
		}
	}
.single ul li a::before {
   content: "\f101";
}
.single.category ul li a::before {
   content: "\f115";
}
.single.recent ul li a::before {
   content: "\f044";
}
.single.tags ul li a::before {
   content: "\f02b";
}
.single.comments ul li a::before {
   content: "\f0e5";
}
.single.archives ul li a::before {
   content: "\f133";
}


}

/*----------Contact Page------------------*/
.contact-head{
	max-width: 1024px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
}
.contact-form{
	max-width: 1024px;
	margin: 0 auto;

	.single{
		margin-top: 30px;
		text-align: center;
	}
}
.google-map{
	margin-top: 30px;
	.embed-responsive-16by9{
		padding-bottom: 35%;
	}
}

/*-----------Not Found------------*/
.not-found{
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
	padding: 60px 0;

	h1{
		font-size: 200px;
		color: $theme;
	}
	h3{
		font-size: 30px;
		color: #333;
	}
	P{
		font-size: 20px;
		color: #666;
	}
	.form-control{
		height: 48px;
		margin-top: 40px;
		text-align: center;
	}
}

/*-------Single Post-----------*/
.single-page{
	margin-top: 40px;

	.post-info{
		color: #999;
		padding: 5px 0;
		padding-bottom: 15px;
		overflow: auto;
		a{
			color: #999;
			text-decoration: none;
			&:hover{
				color:$theme;
			}
		}
	}
	blockquote{
		max-width: 500px;
		margin: 0 auto;
		margin-bottom: 20px;
		background: #fcfcfc;
		border:1px solid #f0f0f0;
		border-top: 4px solid $theme;
		border-radius: 4px 4px 0 0;

		p{
			font-size: 14px;
			line-height: 24px;
			font-style: italic;
		}
		cite{
			font-size: 14px;
			color: $theme;
		}
	}
	.content{
		text-align: center;
		p{
			font-size: 14px;
			line-height: 23px;
			margin-bottom: 20px;
		}
	}

	.social-media{
		text-align: center;
		li{
			a{
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				border:1px solid #f0f0f0;
				color: $theme;
				border-radius: 3px;
				overflow: hidden;
				&:hover{
					i:first-child{
				transform:translate(5px, 0px);
			      }
			     i:last-child{
				transform:translate(20px, 0px);
			      }
				}

				i{
					transition:all 0.4s ease-in-out;
				}
			}
			a i:first-child{
				transform:translate(-20px, 0px);
			}
			a i:last-child{
				transform:translate(-5px, 0px);
			}
		}
	}
	.pager li > a, .pager li > span{
		font-size: 20px;
		padding: 1px 20px;
		border-radius: 3px;
		color: $theme;
	}

	/*----------Comment Form-------------*/
	.comment-form{
		max-width: 1000px;
		margin: 0 auto;
		border-top: 1px solid #f0f0f0;

		.block-title{
			font-size: 20px;
			text-transform: uppercase;
			text-align: center;
		}
		.form-control{
			margin-top: 30px;
			min-height: 40px;
		}
		.submit-button{
			margin-top: 30px;
			text-align: center;
			.btn{
				text-transform: uppercase;
			}
		}
	}

	/*-----------Comments Block----------*/
	.comments-block{
		max-width: 1000px;
		margin: 0 auto;
		border-top: 1px solid #f0f0f0;
		margin-top: 30px;

		.block-title{
			font-size: 20px;
			text-transform: uppercase;
			text-align: center;
		}
		.comment{
			background: #f0f0f0;
			padding: 15px;
			margin-top: 20px;
			text-align: center;
			p{
				font-size: 14px;
				line-height: 24px;
				color: #666;
			}
			.name{
				font-size: 16px;
				color: $theme;
			}
			.comment{
				border-top: 1px solid #aaa;
			}
			.reply-btn{
				background: #fcfcfc;
				color: $theme;
				padding: 4px 16px;
			}
		}

		.pagination{
			margin-top: 30px;
		}
	}
}


/*-----------Elements-------------*/
.elements{
	.single{
		margin-top: 40px;
		display: block;
		overflow: auto;
		.title{
			font-size: 20px;
			text-transform: uppercase;
			border-bottom: 1px solid #f0f0f0;
			padding-bottom: 4px;
			margin: 0;
		}
		.underline{
			width: 50px;
			height: 2px;
			margin-top: -1px;
			background: $theme;
			margin-bottom: 10px;
		}
	}
}